<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJuman Note</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to DJuman Note</h1>
        <p>DJuman Note is a note saving application so you won't forget what you wanted to do.</p>
        <div class="buttons">
            <a href="/login"><button>Login</button></a>
            <a href="/register"><button>Register</button></a>
        </div>
    </div>
</body>
</html>
